
{%extends "base.html"%}
{% load bootstrap3 %}
{%load static%} 
{% load staticfiles %} 
{% block content %}


<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Edit Profile Information</title>
  {{form.media}}

{% block styles %} 
{% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'css/news.css' %}"> {% endblock %}

</head>
{% include "base.html" %}
{% include "navbar.html" %}

<body style="font-family: 'ABeeZee', sans-serif;">
<div class="container" style="background-color:#fff;">
  <br>
<h1 style="font-family: 'ABeeZee', sans-serif; margin-right:0px;">Edit Profile Information</h1>

     <div class="row">

  <br>
  <form  action="{%url 'create_profile'%}" method="post" enctype="multipart/form-data" style="font-family: 'ABeeZee', sans-serif;">
    {%csrf_token%}

    {% bootstrap_form form%}
    <input id="id_myfield" type="submit" class="btn btn-info btn-lg" value="Post" style="font-family: 'ABeeZee', sans-serif;">
  </form>

   {% block scripts %}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  {% bootstrap_javascript %} {% endblock %}


     </div>
</div>




</body>
{% endblock %}